@use "./_variable" as *;

.btn {
  padding: 0.55rem 1rem;
  border-radius: $radius-md;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;

  &--primary {
    background: $primary;
    color: $color-neutral-0;
  }

  &--secondary {
    background: $border-light;
    color: $foreground;
  }

  &--danger {
    background: $danger;
    color: $foreground;
  }

  &--ghost {
    background: transparent;
    color: $foreground-light;
  }

  &:hover {
    opacity: 0.9;
  }
}
