@use "./_variable" as *;

.sidebar {
  width: 260px;
  padding: 1.5rem;
  border-right: 1px solid var(--color-border-light);
  background-color: var(--color-background);

  .logo {
    transition: opacity 0.3s ease;
    filter: none !important;
  }

  .tag-icon {
    filter: brightness(0) saturate(100%) invert(var(--icon-invert, 0));
    transition: filter 0.3s ease;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;

    li {
      padding: 0.6rem 0.8rem;
      border-radius: $radius-sm;
      cursor: pointer;
      font-weight: 500;
      color: var(--color-foreground);
      transition: background-color 0.2s ease;

      &:hover {
        background: var(--color-hover);
      }
    }
  }

  h4 {
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-foreground);
    opacity: 0.7;
    text-transform: uppercase;
  }

  .tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;

    .tag {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: 0.3rem 0.6rem;
      border-radius: $radius-sm;
      font-size: 0.75rem;
      cursor: pointer;
      color: var(--color-foreground);
    }

    .tag-icon {
      align-self: flex-end;
    }

    .tag:hover {
      background: var(--color-hover);
    }

    span {
      &:hover {
        background: var(--color-primary);
        color: var(--color-surface);
      }
    }
  }
}

@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

.show-sidebar-tablet .sidebar {
  display: block !important;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  margin-top: 5rem;
  z-index: 1001;
  background: var(--color-background);
}
